<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ceylinco.ceylincocustomerapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.ceylinco.ceylincocustomerapp.util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="com.ceylinco.ceylincocustomerapp.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ceylinco.ceylincocustomerapp.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
        </activity>

        <activity
            android:name=".newInsurances.NewInsuranceVehicleListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newInsurances.NewInsuranceVehicleListActivity" />

        </activity>

        <activity
            android:name=".newInsurances.InsuranceTypesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newInsurances.InsuranceTypesActivity" />

        </activity>

        <activity
            android:name=".newInsurances.comprehensive.ComprehensiveRegistrationOne"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newInsurances.comprehensive.ComprehensiveRegistrationOne" />

        </activity>

        <activity
            android:name=".newInsurances.comprehensive.ComprehensiveRegistrationTwo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newInsurances.comprehensive.ComprehensiveRegistrationTwo" />

        </activity>

        <activity
            android:name=".newInsurances.comprehensive.ComprehensiveRegistrationThree"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newInsurances.comprehensive.ComprehensiveRegistrationThree" />

        </activity>

        <activity
            android:name=".newInsurances.paymentMode.PaymentModeRegistrationOne"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newInsurances.paymentMode.PaymentModeRegistrationOne" />

        </activity>

        <activity
            android:name=".newInsurances.paymentMode.PaymentModeRegistrationTwo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newInsurances.paymentMode.PaymentModeRegistrationTwo" />

        </activity>

        <activity
            android:name=".existingPolicy.ExistingPolicyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".existingPolicy.ExistingPolicyActivity" />

        </activity>

        <activity
            android:name=".existingPolicy.SelectVehicleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".existingPolicy.SelectVehicleActivity" />

        </activity>

        <activity
            android:name=".existingPolicy.SelectedVehicleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".existingPolicy.SelectedVehicleActivity" />

        </activity>

        <activity
            android:name=".inquiries.InquiryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".inquiries.InquiryActivity" />

        </activity>

        <activity
            android:name=".existingPolicy.claims.StatusOfClaimsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".existingPolicy.claims.StatusOfClaimsActivity" />

        </activity>

        <activity
            android:name=".existingPolicy.policyDetails.PolicyDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".existingPolicy.policyDetails.PolicyDetailsActivity" />

        </activity>

        <activity
            android:name=".inquiries.locationServices.ValueAddedServicesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".inquiries.locationServices.ValueAddedServicesActivity" />

        </activity>

        <activity
            android:name=".existingPolicy.accidents.ReportAccidentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".existingPolicy.accidents.ReportAccidentsActivity" />

        </activity>

        <!-- Outstation -->
        <!--<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA2htYgeCvZxTMIQRwo_OrZl_mGKR0IKhw" />-->

        <!-- Home -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyApNn8uT_zzwmijn0j0v4-eKO-xIYucepM" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>